<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="allors" type="Allors.AllorsConfigurationSection, Allors.Framework"/>
  </configSections>
  <allors>
    <populations>
      <add name="connected"
				 type="Allors.Adapters.SqlClient.AllorsSqlClientPopulation, Allors.Adapters.SqlClient"
				 domainConfiguration="AllorsDomains.IseriesDomainConfiguration, Iseries"
				 connectionStringName="local">
      </add>
      <add name="disconnected"
				 type="Allors.Adapters.Memory.AllorsDisconnectedMemoryPopulation, Allors.Adapters.Memory"
				 domainConfiguration="AllorsDomains.IseriesDomainConfiguration, Iseries">
      </add>
    </populations>
  </allors>
  <connectionStrings>
    <add name="local" connectionString="server=(local);database=Iseries;Integrated Security=SSPI"/>
    <add name="iseries" connectionString="DataSource=192.168.1.8;UserID=WALTER;Password=walter;DefaultCollection=testlib; ConnectionTimeout=10;"/>
  </connectionStrings>
</configuration>